---
layout: default
---

<article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</article>

  <link rel="stylesheet" href="../css/course.css">

<div>
<div class="row" style="float: left;margin-top: -50px">
  <div class="col-sm-4 col-md-4"  >
    <div class="thumbnail">
      <img src="../avatar.jpeg" alt="...">
      <div class="caption">
        <h3>机器学习</h3>
        <p>机器学习是一门多领域交叉学科，涉及概率论、统计学、逼近论、凸分析、算法复杂度理论等多门学科。<a href="../course/a.html" >More</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="float: left;margin-top: -50px;margin-left: 20px">
  <div class="col-sm-4 col-md-4" >
    <div class="thumbnail">
      <img src="../avatar.jpeg" alt="...">
      <div class="caption">
        <h3>机器学习</h3>
        <p>机器学习是一门多领域交叉学科，涉及概率论、统计学、逼近论、凸分析、算法复杂度理论等多门学科。<a href="../course/a.html" >More</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="float: left;margin-top: -212px;margin-left:443px">
  <div class="col-sm-4 col-md-4" >
    <div class="thumbnail">
      <img src="../avatar.jpeg" alt="...">
      <div class="caption">
        <h3>机器学习</h3>
        <p>机器学习是一门多领域交叉学科，涉及概率论、统计学、逼近论、凸分析、算法复杂度理论等多门学科。<a href="../course/a.html" >More</a></p>
      </div>
    </div>
  </div>
</div>
</div>
<div style="margin-top: 450px">
  <div class="row" style="float: left">
    <div class="col-sm-4 col-md-4" >
      <div class="thumbnail">
        <img src="../avatar.jpeg" alt="...">
        <div class="caption">
          <h3>机器学习</h3>
          <p>机器学习是一门多领域交叉学科，涉及概率论、统计学、逼近论、凸分析、算法复杂度理论等多门学科。<a href="../course/a.html" >More</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-sm-4 col-md-4" style="float: left;margin-left: 20px" >
      <div class="thumbnail">
        <img src="../avatar.jpeg" alt="...">
        <div class="caption">
          <h3>机器学习</h3>
          <p>机器学习是一门多领域交叉学科，涉及概率论、统计学、逼近论、凸分析、算法复杂度理论等多门学科。<a href="../course/a.html" >More</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-sm-4 col-md-4" style="float: left;margin-top: -212px;margin-left:443px" >
      <div class="thumbnail">
        <img src="../avatar.jpeg" alt="...">
        <div class="caption">
          <h3>机器学习</h3>
          <p>机器学习是一门多领域交叉学科，涉及概率论、统计学、逼近论、凸分析、算法复杂度理论等多门学科。<a href="../course/a.html" >More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>






