---
layout: default
---

<article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</article>

<div class="media">
  <img src="../avatar.jpeg" class="mr-3" alt="..." style="width: 50px;height: 50px">
  <div class="media-body">
    <h5 class="mt-0">Guider Information</h5>
    <p>Find More about guider's information:<a href="../team/guiderlist.html">More</a></p>
    <img src="../avatar.jpeg" class="mr-3" alt="..." style="width: 50px;height: 50px">
    <div class="media-body">
      <h5 class="mt-0">Student Information</h5>
      <p>Find More about student's information:<a href="../team/studentlist.html">More</a></p>
  </div>
</div>
</div>
